@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel

<div class="container-fluid">
    <div class="row">
        <!-- Main Content Section -->
        <div class="col-md-8 mb-2 main-content">
            <!-- Get Product Section -->
            <div class="card shadow-lg mb-4">
                <div class="card-header bg-white">
                    <h5 class="mb-0">Export Product</h5>
                </div>
                <div class="card-body">
                    <div id="productDetailsContainer"></div> <!-- Product details will be loaded here via AJAX -->

                    <form asp-controller="Product" asp-action="ExportProduct">
                        <div class="input-group">
                            <label for="id" class="input-group-text">Product ID</label>
                            <input id="productIdInput" name="id" type="number" value="1" class="form-control" aria-label="Product ID" min="1" />
                            <input id="productIdInput" name="quantity" type="number" value="1" class="form-control" aria-label="Product ID" min="1"/>
                            <button type="submit" class="px-2 btn btn-outline-success btn-sm">
                                <i class="fas fa-search"></i> Export
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Notification Section -->
            @if (Model.LowStockProducts.Any(product => product.StockQuantity == 0))
            {
                <div class="alert alert-danger">
                    <strong>Out of Stock Alert!</strong> Some products are out of stock. Please review the product list.
                </div>
            }
            else if (Model.LowStockProducts.Any(product => product.StockQuantity < product.LowStockThreshold && product.StockQuantity > 0))
            {
                <div class="alert alert-warning">
                    <strong>Low Stock Alert!</strong> Some products are below their stock threshold. Please review the product list.
                </div>
            }
            
            <!-- Out of Stock Products Table -->
            <div class="card shadow-lg border-0 mt-3">
                <div class="card-header bg-white">
                    <h5 class="mb-0">Out of Stock Products</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover text-center">
                        <thead class="table-success">
                            <tr>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Supplier</th>
                                <th>Price</th>
                                <th>Stock</th>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <th>Add Quantity</th>
                                }
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model.LowStockProducts)
                            {
                                if (product.StockQuantity == 0)
                                {
                                    <tr>
                                        <td>@product.ProductName</td>
                                        <td>@product.Category.CategoryName</td>
                                        <td>@product.Supplier.SupplierName</td>
                                        <td>@product.Price</td>
                                        <td>@product.StockQuantity</td>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <td>
                                                <form asp-action="AddQuantity" asp-controller="Product" asp-route-id="@product.ProductID">
                                                    <div class="input-group">
                                                        <input name="Quantity" type="number" value="1" class="form-control" aria-label="Quantity" min="1" />
                                                        <button type="submit" class="px-2 btn btn-outline-success btn-sm">
                                                            <i class="fas fa-plus"></i> Add
                                                        </button>
                                                    </div>
                                                </form>
                                            </td>
                                        }
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-outline-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Actions
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <li>
                                                        <a class="dropdown-item" asp-action="Details" asp-controller="Product" asp-route-id="@product.ProductID">
                                                            <i class="fas fa-info-circle"></i> Details
                                                        </a>
                                                    </li>
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            <a class="dropdown-item" asp-action="Edit" asp-controller="Product" asp-route-id="@product.ProductID">
                                                                <i class="fas fa-edit"></i> Edit
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" asp-action="Delete" asp-controller="Product" asp-route-id="@product.ProductID">
                                                                <i class="fas fa-trash-alt"></i> Delete
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Low Stock Products Table -->
            <div class="card shadow-lg border-0 mt-4">
                <div class="card-header bg-white">
                    <h5 class="mb-0">Low Stock Products</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover text-center">
                        <thead class="table-success">
                            <tr>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Supplier</th>
                                <th>Price</th>
                                <th>Stock</th>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <th>Add Quantity</th>
                                }
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model.LowStockProducts)
                            {
                                if (product.StockQuantity < product.LowStockThreshold && product.StockQuantity > 0)
                                {
                                    <tr>
                                        <td>@product.ProductName</td>
                                        <td>@product.Category.CategoryName</td>
                                        <td>@product.Supplier.SupplierName</td>
                                        <td>@product.Price</td>
                                        <td>@product.StockQuantity</td>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <td>
                                                <form asp-action="AddQuantity" asp-controller="Product" asp-route-id="@product.ProductID">
                                                    <div class="input-group">
                                                        <input name="Quantity" type="number" value="1" class="form-control" aria-label="Quantity" min="1" />
                                                        <button type="submit" class="px-2 btn btn-outline-success btn-sm">
                                                            <i class="fas fa-plus"></i> Add
                                                        </button>
                                                    </div>
                                                </form>
                                            </td>
                                        }
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-outline-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Actions
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <li>
                                                        <a class="dropdown-item" asp-action="Details" asp-controller="Product" asp-route-id="@product.ProductID">
                                                            <i class="fas fa-info-circle"></i> Details
                                                        </a>
                                                    </li>
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <li>
                                                            <a class="dropdown-item" asp-action="Edit" asp-controller="Product" asp-route-id="@product.ProductID">
                                                                <i class="fas fa-edit"></i> Edit
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" asp-action="Delete" asp-controller="Product" asp-route-id="@product.ProductID">
                                                                <i class="fas fa-trash-alt"></i> Delete
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <!-- Sidebar Stats Section -->
        <aside class="col-md-4">
            <div class="row">
                @if (User.IsInRole("Admin"))
                {
                    <div class="col-md-6 mb-3">
                        <div class="card shadow-lg card-stat">
                            <div class="card-body text-center">
                                <h5 class="card-title">Total Stock Value</h5>
                                <h4>@Model.TotalStockValue.ToString("F2") (EGP)</h4>
                            </div>
                        </div>
                    </div>
                }

                @if (User.IsInRole("Admin"))
                {
                    <div class="col-md-6 mb-3">
                        <div class="card shadow-lg card-stat">
                            <div class="card-body text-center">
                                <h5 class="card-title">Total Users</h5>
                                <h4>@Model.TotalUsers</h4>
                                <a asp-action="ShowUsers" asp-controller="UserManagement" class="btn btn-outline-dark">Show Users</a>
                            </div>
                        </div>
                    </div>
                }
                
                <div class="col-md-6 mb-3">
                    <div class="card shadow-lg card-stat">
                        <div class="card-body text-center">
                            <h5 class="card-title">Total Products</h5>
                            <h4>@Model.TotalProducts</h4>
                            <a asp-action="Index" asp-controller="Product" class="btn btn-outline-success">Show Products</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="card shadow-lg card-stat">
                        <div class="card-body text-center">
                            <h5 class="card-title">Total Categories</h5>
                            <h4>@Model.TotalCategories</h4>
                            <a asp-action="Index" asp-controller="Category" class="btn btn-outline-danger">Show Categories</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 mb-3">
                    <div class="card shadow-lg card-stat">
                        <div class="card-body text-center">
                            <h5 class="card-title">Total Suppliers</h5>
                            <h4>@Model.TotalSupplires</h4>
                            <a asp-action="Index" asp-controller="Supplier" class="btn btn-outline-info">Show Suppliers</a>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>

<!-- AJAX Script for Product Search -->
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // Handle form submission with AJAX
        $('#productForm').on('submit', function (event) {
            event.preventDefault(); // Prevent default form submission

            var productId = $('#productIdInput').val();

            $.ajax({
                url: '@Url.Action("GetProduct", "Product")', // Controller action
                type: 'POST',
                data: { id: productId },
                success: function (response) {
                    if (response.success === false) {
                        alert(response.message); // Product not found
                    } else {
                        $('#productDetailsContainer').html(response); // Load product details
                    }
                },
                error: function () {
                    alert('An error occurred while fetching the product.');
                }
            });
        });
    });

    // Export function to handle export logic
    function exportProduct(productId,quantity) {
        $.ajax({
            url: '@Url.Action("ExportProduct", "Product")', // Controller action
            type: 'POST',
            data: { id: productId, Quantity: quantity },
            success: function (response) {
                if (response.success === false) {
                    alert(response.message); // Product not found
                } else {
                    $('#productDetailsContainer').html(response); // Load product details
                }
            },
            error: function () {
                alert('An error occurred while fetching the product.');
            }
    }
</script> *@
